*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #FFFFFF;
    padding: 25px 0 0 30px;
    margin-bottom: 35px;
    position: relative;
}

.bb{
    border: 1px solid red;
}

body{
    font-family: "Montserrat", sans-serif;
    
}

header{
    height: 65px;
    background: #161c35;
}

.main_wrapper{
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

.main_menu>ul>li{
    display: inline-block;
    

}

header .main_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main_menu>ul>li>a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    position: relative;
}

.main_menu>ul>li:last-child>a{
    margin-right: 0;
}

.main_menu>ul>li>a::after{
    content: "";
    width: 10%;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:18px;
    transition-duration: 0.3s;
    opacity: 0;
}

.main_menu>ul>li>a:hover::after{
    width: 100%;
    opacity: 1;
}

.maim_board .main_wrapper{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
    
}

.maim_board_left_block{
    width: 50%;
}

.maim_board .main_wrapper>img{
    margin: auto;
}

.maim_board{
    height: 500px;
    background: url(images/bg.jpg);
    background-size: cover;
    background-position: 50%-50px;
    position: relative;
}

.maim_board::after{
    content: "";
    left: 0;
    right: 0;
   bottom: 0;
   top:0;
       position: absolute;
    background: rgba(33,42,73,0.6);
}

.maim_board h1::before{
    content: "";
    width: 115px;
    height: 5px;
    position: absolute;
    background: aqua;
    top: 0;
    left: 0;

}

.maim_board h1::after{
    content: "";
    width: 5px;
    height: 115px;
    position: absolute;
    background: aqua;
    top: 0;
    left: 0;

}

.maim_board_left_block > div:first-of-type {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}

.main_board_button_link{
    display: flex;
    align-items: center;
    width: 165px;
    height: 50px;
    border: 1px solid aqua;
    font-size: 13px;
    border-radius: 0 5px 0 5px;
    text-decoration: none;
    color:#FFFFFF;
    transition-duration: 0.3s;
        margin-left: 20px;
}

.main_board_button_link>i{
    margin-left: 20px;
    margin-right: 15px;
    font-size: 30px;
    color:aqua;
    width: 26px;
    transition-duration: 0.3s;
}

.flex{
    display: flex;
}